@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-footer: #191D88;
    --color-theme:#1450A3;
    --color-yellow:#FFC436;
    --color-header:#337CCF;
    --color-text:#ffffff;
    ;
  }
  :root[data-theme='light'] {
    --color-color1: 244 244 242;
  }

  @layer{
    .bigcardimages{
      @apply p-2 max-h-[200px] rounded-2xl;
    }
  }


